
<div id="wrapper">
    <div
        class="tab"
        ng-controller="TabController as tabs">
        <ul class="nav nav-tabs">
            <li ng-class="{ active: tabs.getActiveTab() == 'loans' }"><a
                href
                ng-click="tabs.setActiveTab('loans')">loans</a></li>
            <li ng-class="{ active: tabs.getActiveTab() == 'contracts' }"><a
                href
                ng-click="tabs.setActiveTab('contracts')">contracts</a></li>
            <li ng-class="{ active: tabs.getActiveTab() == 'commitment' }"><a
                href
                ng-click="tabs.setActiveTab('commitment')">commitment</a></li>
            <li ng-class="{ active: tabs.getActiveTab() == 'trades' }"><a
                href
                ng-click="tabs.setActiveTab('trades')">trades</a></li>
            <li ng-class="{ active: tabs.getActiveTab() == 'cash flows' }"><a
                href
                ng-click="tabs.setActiveTab('cash flows')">cash flows</a></li>
            <li ng-class="{ active: tabs.getActiveTab() == 'model' }"><a
                href
                ng-click="tabs.setActiveTab('model')">model</a></li>
        </ul>

        <div ng-controller="LoansController as loans">
            <div>
                <div
                    id="displaySelectedLoan"
                    ng-if="loans.selected">
                    selected loan: <span class="selected">{{loans.selected.id.value}}</span> &nbsp;&nbsp;&nbsp;
                    borrower: <span class="selected">{{loans.selected.borrower.value}}</span>
                </div>
                <div
                    id="displayNoSelectedLoan"
                    ng-if="!loans.selected">
                    <br>
                </div>
            </div>

            <div ng-show="tabs.getActiveTab() == 'loans'">
                <table
                    id="loans"
                    st-safe-src="loans.data"
                    st-table="loans.displayed">
                    <thead>
                        <tr>
                            <th
                                st-ratio="10"
                                st-sort="id.value">LOAN ID</th>
                            <th
                                st-ratio="20"
                                st-sort="borrower.value">BORROWER</th>
                            <th
                                st-ratio="14"
                                st-sort="agent.value">AGENT</th>
                            <th
                                st-ratio="10"
                                st-sort="facilityType">FACILITY TYPE</th>
                            <th
                                st-ratio="18"
                                st-sort="originalCommitmentAmount.value">ORIG COMMITMENT</th>
                            <th
                                st-ratio="10"
                                st-sort="startDate">START DATE</th>
                            <th
                                st-ratio="10"
                                st-sort="maturityDate">MATURITY DATE</th>
                            <th
                                st-ratio="8"
                                st-sort="originalCommitmentAmount.currency">CURRENCY</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            ng-click="loans.setSelected(loan)"
                            st-select-row="loan"
                            st-select-mode="single"
                            ng-repeat="loan in loans.displayed">
                            <td st-ratio="10">{{loan.id.value}}</td>
                            <td st-ratio="20">{{loan.borrower.value}}</td>
                            <td st-ratio="14">{{loan.agent.value}}</td>
                            <td st-ratio="10">{{loan.facilityType}}</td>
                            <td st-ratio="18">{{loan.originalCommitmentAmount.value | currency : "" : 2}}</td>
                            <td st-ratio="10">{{loan.startDate | date : "M/d/yy" }}</td>
                            <td st-ratio="10">{{loan.maturityDate | date : "M/d/yy"}}</td>
                            <td st-ratio="8">{{loan.originalCommitmentAmount.currency}}</td>
                        </tr>
                    </tbody>
                </table>

                <section class="actionButtons">
                    <button
                        type="button"
                        ng-mousedown="loans.add()"
                        ng-mouseup="loans.scroll()">+</button>
                    <button
                        type="button"
                        ng-click="loans.remove()"
                        ng-if="loans.selected">-</button>
                    <button
                        type="button"
                        ng-mousedown="loans.copy()"
                        ng-mouseup="loans.scroll()"
                        ng-if="loans.selected">
                        <i class="fa fa-clone"></i>
                    </button>
                    <button
                        type="button"
                        ng-click="loans.clear()"
                        ng-if="loans.displayed.length">x
                    </button>
                </section>

                <div
                    id="loanStaticInfo"
                    class="alignleft"
                    ng-if="loans.selected">
                    <label>LOAN ID</label> <input
                        class="formInput"
                        type="text"
                        ng-model="loans.selected.id.value"
                        size="30"> <label>FACILITY TYPE</label> <select
                        ng-model="loans.selected.facilityType"
                        ng-options="x for x in tabs.FacilityTypes">
                    </select> <label>START DATE</label> <input
                        class="formInput"
                        type="date"
                        ng-model="loans.selected.startDate"> <br> <label>BORROWER</label> <input
                        class="formInput"
                        type="text"
                        ng-model="loans.selected.borrower.value"
                        size="30"> <label>ORIG COMMITMENT</label> <input
                        class="formInput"
                        type="text"
                        ng-pattern="/^[0-9]+(\.{1}[0-9]*)?$/"
                        ng-model="loans.selected.originalCommitmentAmount.value"
                        size="30"> <label>MATURITY DATE</label> <input
                        class="formInput"
                        type="date"
                        ng-model="loans.selected.maturityDate"><br> <label>AGENT</label> <input
                        class="formInput"
                        type="text"
                        ng-model="loans.selected.agent.value"
                        size="30"> <label>CURRENCY</label> <select
                        ng-model="loans.selected.originalCommitmentAmount.currency"
                        ng-options="x for x in tabs.Currencies"></select>
                </div>

                <div
                    ng-controller="EventsController as events"
                    ng-show="loans.selected">
                    <table
                        id="events"
                        st-safe-src="events.data"
                        st-table="events.displayed">
                        <thead>
                            <tr>
                                <th
                                    st-ratio="25"
                                    st-sort="['@bean']">EVENT TYPE</th>
                                <th
                                    st-ratio="25"
                                    st-sort="effectiveDate">EFFECTIVE DATE</th>
                                <th
                                    st-ratio="25"
                                    st-sort="amount.value">AMOUNT</th>
                                <th
                                    st-ratio="25"
                                    st-sort="refusalAllowed">REFUSAL ALLOWED</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="event in events.displayed">
                                <td st-ratio="25">
                                    <button
                                        type="button"
                                        ng-click="events.remove(event)"
                                        class="inTableDelete">-</button> <select
                                    ng-model="event['@bean']"
                                    class="tableSelect"
                                    ng-options="x for x in tabs.FacilityEventTypes">
                                </select>
                                </td>
                                <td st-ratio="25"><input
                                    class="tableInput"
                                    type="date"
                                    ng-model="event.effectiveDate"></td>
                                <td st-ratio="25"><input
                                    class="tableInput"
                                    type="text"
                                    ng-pattern="/^-?[0-9]+(\.{1}[0-9]*)?$/"
                                    ng-model="event.amount.value"></td>
                                <td st-ratio="25"><select
                                    ng-model="event.refusalAllowed"
                                    class="tableSelect"
                                    ng-options="x for x in tabs.Boolean"></select></td>
                            </tr>
                        </tbody>
                    </table>

                    <section class="actionButtons">
                        <button
                            type="button"
                            ng-mousedown="events.add()"
                            ng-mouseup="events.scroll()">+</button>
                    </section>
                </div>
            </div>

            <div
                ng-controller="ContractsController as contracts"
                ng-show="tabs.getActiveTab() == 'contracts'">
                <table
                    id="contracts"
                    st-safe-src="contracts.data"
                    st-table="contracts.displayed">
                    <!--  ng-show="loans.selected">-->
                    <thead>
                        <tr>
                            <th
                                st-ratio="11"
                                st-sort="id.value">CONTRACT ID</th>
                            <th
                                st-ratio="11"
                                st-sort="accrual.startDate">START DATE</th>
                            <th
                                st-ratio="11"
                                st-sort="accrual.endDate">END DATE</th>
                            <th
                                st-ratio="11"
                                st-sort="paymentDate">PAYMENT DATE</th>
                            <th
                                st-ratio="12"
                                st-sort="accrual.accrualAmount.value">AMOUNT</th>
                            <th
                                st-ratio="11"
                                st-sort="accrual.index.value">INDEX</th>
                            <th
                                st-ratio="11"
                                st-sort="accrual.spread">SPREAD</th>
                            <th
                                st-ratio="11"
                                st-sort="accrual.allInRate">ALL IN RATE</th>
                            <th
                                st-ratio="11"
                                st-sort="accrual.dayCount">DAY COUNT</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            ng-click="contracts.setSelected(contract)"
                            st-select-row="contract"
                            st-select-mode="single"
                            ng-repeat="contract in contracts.displayed">
                            <td st-ratio="11">{{contract.id.value}}</td>
                            <td st-ratio="11">{{contract.accrual.startDate | date : "M/d/yy"}}</td>
                            <td st-ratio="11">{{contract.accrual.endDate | date : "M/d/yy"}}</td>
                            <td st-ratio="11">{{contract.paymentDate | date : "M/d/yy"}}</td>
                            <td st-ratio="12">{{contract.accrual.accrualAmount.value | currency : "" : 2}}</td>
                            <td st-ratio="11">{{contract.accrual.index.value}}</td>
                            <td st-ratio="11">{{contract.accrual.spread * 100 | currency : "" : 3}}</td>
                            <td st-ratio="11">{{contract.accrual.allInRate * 100 | currency : "" : 6}}</td>
                            <td st-ratio="11">{{contract.accrual.dayCount}}</td>
                        </tr>
                    </tbody>
                </table>

                <section class="actionButtons">
                    <button
                        type="button"
                        ng-if="loans.selected"
                        ng-mousedown="contracts.add()"
                        ng-mouseup="contracts.scroll()">+</button>
                    <button
                        type="button"
                        ng-click="contracts.remove()"
                        ng-if="contracts.selected">-</button>
                    <button
                        type="button"
                        ng-mousedown="contracts.copy()"
                        ng-mouseup="contracts.scroll()"
                        ng-if="contracts.selected">
                        <i class="fa fa-clone"></i>
                    </button>
                </section>

                <div
                    id="contractDetail"
                    class="alignleft"
                    ng-if="contracts.selected">
                    <label>CONTRACT ID</label> <input
                        class="formInput"
                        type="text"
                        ng-model="contracts.selected.id.value"> <label>TYPE</label> <select
                        ng-change="accrualTypeChange()"
                        ng-model="contracts.selected.accrual['@bean']"
                        ng-options="x for x in tabs.AccrualTypes">
                    </select> <label>CURRENCY</label> <select
                        ng-model="contracts.selected.accrual.accrualAmount.currency"
                        ng-options="x for x in tabs.Currencies">
                    </select> <br> <label>START DATE</label> <input
                        class="formInput"
                        type="date"
                        ng-model="contracts.selected.accrual.startDate"> <label>INDEX</label> <select
                        ng-model="contracts.selected.accrual.index.value"
                        ng-disabled="contracts.selected.accrual['@bean']=='FixedRateAccrual'"
                        ng-options="x for x in tabs.IborTerms">
                    </select> <label>PAYMEMT FREQ</label> <select
                        ng-model="contracts.selected.accrual.paymentFrequency"
                        ng-options="x for x in tabs.PaymentFrequencies">
                    </select><br> <label>END DATE</label> <input
                        class="formInput"
                        type="date"
                        ng-model="contracts.selected.accrual.endDate"> <label>SPREAD</label> <input
                        class="formInput"
                        type="text"
                        ng-pattern="/^[0-9]+(\.{1}[0-9]*)?$/"
                        ng-model="contracts.selected.accrual.spread"
                        ng-disabled="contracts.selected.accrual['@bean']=='FixedRateAccrual'"> <label>BASE
                        RATE</label> <input
                        class="formInput"
                        type="text"
                        ng-pattern="/^-?[0-9]+(\.{1}[0-9]*)?$/"
                        ng-model="contracts.selected.accrual.baseRate"
                        ng-disabled="contracts.selected.accrual['@bean']=='FixedRateAccrual'"><br> <label>PAYMENT
                        DATE</label> <input
                        class="formInput"
                        type="date"
                        ng-model="contracts.selected.paymentDate"> <label>ALL IN RATE</label> <input
                        class="formInput"
                        type="text"
                        ng-pattern="/^[0-9]+(\.{1}[0-9]*)?$/"
                        ng-model="contracts.selected.accrual.allInRate"> <label>PIK SPREAD</label> <input
                        class="formInput"
                        type="text"
                        ng-pattern="/^[0-9]+(\.{1}[0-9]*)?$/"
                        ng-model="contracts.selected.accrual.pikSpread"><br> <label>AMOUNT</label> <input
                        class="formInput"
                        type="text"
                        ng-pattern="/^[0-9]+(\.{1}[0-9]*)?$/"
                        ng-model="contracts.selected.accrual.accrualAmount.value"> <label>DAY COUNT</label> <select
                        ng-model="contracts.selected.accrual.dayCount"
                        ng-options="x for x in tabs.DayCounts">
                    </select>
                </div>

                <div
                    ng-controller="ContractEventsController as contractEvents"
                    ng-show="contracts.selected">

                    <table
                        id="editContractEvents"
                        st-safe-src="contractEvents.data"
                        st-table="contractEvents.displayed">
                        <thead>
                            <tr>
                                <th
                                    st-ratio="20"
                                    st-sort="['@bean']">EVENT TYPE</th>
                                <th
                                    st-ratio="20"
                                    st-sort="effectiveDate">EFFECTIVE DATE</th>
                                <th
                                    st-ratio="20"
                                    st-sort="amount.value">AMOUNT</th>
                                <th
                                    st-ratio="20"
                                    st-sort="interestOnPaydown">PAYDOWN INTEREST</th>
                                <th
                                    st-ratio="20"
                                    st-sort="price">PRICE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="contractEvent in contractEvents.displayed">
                                <td st-ratio="20">
                                    <button
                                        type="button"
                                        ng-click="contractEvents.remove(contractEvent)"
                                        class="inTableDelete">-</button> <select
                                    ng-model="contractEvent['@bean']"
                                    class="tableSelect"
                                    ng-options="x for x in tabs.ContractEventTypes"
                                    ng-change="contractEvents.typeChange(contractEvent)">
                                </select>
                                </td>
                                <td st-ratio="20"><input
                                    class="tableInput"
                                    type="date"
                                    ng-model="contractEvent.effectiveDate"></td>
                                <td st-ratio="20"><input
                                    class="tableInput"
                                    type="text"
                                    ng-pattern="/^[0-9]+(\.{1}[0-9]*)?$/"
                                    ng-model="contractEvent.amount.value"></td>
                                <td st-ratio="20"><select
                                    ng-model="contractEvent.interestOnPaydown"
                                    ng-disabled="contractEvent['@bean']!='Repayment'"
                                    class="tableSelect"
                                    ng-options="x for x in tabs.Boolean"></select></td>
                                <td st-ratio="20"><input
                                    class="tableInput"
                                    type="text"
                                    ng-pattern="/^[0-9]+(\.{1}[0-9]*)?$/"
                                    ng-model="contractEvent.price"
                                    ng-disabled="contractEvent['@bean']!='Repayment'"></td>
                            </tr>
                        </tbody>
                    </table>

                    <section class="actionButtons">
                        <button
                            type="button"
                            ng-mousedown="contractEvents.add()"
                            ng-mouseup="contractEvents.scroll()">+</button>
                    </section>
                </div>
            </div>

            <div
                ng-controller="CommitmentController as commitment"
                ng-show="tabs.getActiveTab() == 'commitment'">
                <table
                    id="commitment"
                    st-safe-src="commitment.data"
                    st-table="commitment.displayed">
                    <thead>
                        <tr>
                            <th st-ratio="20">EFFECTIVE DATE</th>
                            <th st-ratio="20">FUNDED</th>
                            <th st-ratio="20">UNFUNDED</th>
                            <th st-ratio="20">UNDRAWNLC</th>
                            <th st-ratio="20">TOTAL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="crec in commitment.displayed">
                            <td st-ratio="20">{{crec.effectiveDate | date : "M/d/yy" }}</td>
                            <td st-ratio="20">{{crec.funded | currency : "" : 2}}</td>
                            <td st-ratio="20">{{crec.unfunded | currency : "" : 2}}</td>
                            <td st-ratio="20">{{crec.undrawnlc | currency : "" : 2}}</td>
                            <td st-ratio="20">{{crec.total | currency : "" : 2}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div
                ng-controller="TradesController as trades"
                ng-show="tabs.getActiveTab() == 'trades'">
                <table
                    id="trades"
                    st-safe-src="trades.data"
                    st-table="trades.displayed">
                    <thead>
                        <tr>
                            <th
                                st-ratio="8"
                                st-sort="info.id.value">TRADE ID</th>
                            <th
                                st-ratio="10"
                                st-sort="buySell">BUY/SELL</th>
                            <th
                                st-ratio="14"
                                st-sort="buyer.value">BUYER</th>
                            <th
                                st-ratio="14"
                                st-sort="seller.value">SELLER</th>
                            <th
                                st-ratio="14"
                                st-sort="amount">AMOUNT</th>
                            <th
                                st-ratio="10"
                                st-sort="currency">CURRENCY</th>
                            <th
                                st-ratio="14"
                                st-sort="price">PRICE</th>
                            <th
                                st-ratio="16"
                                st-sort="expectedSettlementDate">EXPECTED SETTLEMENT DT</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            ng-click="trades.setSelected(trade)"
                            st-select-row="trade"
                            st-select-mode="single"
                            ng-repeat="trade in trades.displayed">
                            <td st-ratio="8">{{trade.info.id.value}}</td>
                            <td st-ratio="10">{{trade.buySell}}</td>
                            <td st-ratio="14">{{trade.buyer.value}}</td>
                            <td st-ratio="14">{{trade.seller.value}}</td>
                            <td st-ratio="14">{{trade.amount | currency : "" : 2}}</td>
                            <td st-ratio="10">{{trade.currency}}</td>
                            <td st-ratio="14">{{trade.price * 100.0 | currency : "" : 5}}</td>
                            <td st-ratio="16">{{trade.expectedSettlementDate | date : "M/d/yy" }}</td>
                        </tr>
                    </tbody>
                </table>

                <section class="actionButtons">
                    <button
                        type="button"
                        ng-if="loans.selected"
                        ng-mousedown="trades.add()"
                        ng-mouseup="trades.scroll()">+</button>
                    <button
                        type="button"
                        ng-click="trades.remove()"
                        ng-if="trades.selected">-</button>
                    <button
                        type="button"
                        ng-mousedown="trades.copy()"
                        ng-mouseup="trades.scroll()"
                        ng-if="trades.selected">
                        <i class="fa fa-clone"></i>
                    </button>
                </section>

                <div
                    id="tradeDetail"
                    class="alignleft"
                    ng-if="trades.selected">
                    <br> <label>TRADE ID</label> <input
                        class="formInput"
                        type="text"
                        ng-model="trades.selected.info.id.value"> <label>ASSOCIATION</label> <select
                        ng-model="trades.selected.association"
                        ng-options="x for x in tabs.Associations">
                    </select> <label class="labelLong">TRADE TYPE</label> <select
                        ng-model="trades.selected.tradeType"
                        ng-options="x for x in tabs.TradeType">
                    </select><br> <label>BUY/SELL</label> <select
                        ng-model="trades.selected.buySell"
                        ng-options="x for x in tabs.BuySell">
                    </select> <label>FORM OF PURCHASE</label> <select
                        ng-model="trades.selected.formOfPurchase"
                        ng-options="x for x in tabs.FormOfPurchase">
                    </select> <label class="labelLong">WHEN ISSUED</label> <select
                        ng-model="trades.selected.whenIssuedFlag"
                        ng-options="x for x in tabs.Boolean">
                    </select><br> <label>BUYER</label> <input
                        class="formInput"
                        type="text"
                        ng-model="trades.selected.buyer.value"
                        size="30"> <label>DOC TYPE</label> <select
                        ng-model="trades.selected.documentationType"
                        ng-options="x for x in tabs.DocType">
                    </select> <label class="labelLong">COMM REDUCTION</label> <select
                        ng-model="trades.selected.commitmentReductionCreditFlag"
                        ng-options="x for x in tabs.Boolean">
                    </select><br> <label>SELLER</label> <input
                        class="formInput"
                        type="text"
                        ng-model="trades.selected.seller.value"
                        size="30"> <label>DC WAIVED</label> <select
                        ng-model="trades.selected.delayedCompensationFlag"
                        ng-options="x for x in tabs.Boolean">
                    </select> <label class="labelLong">ACCRUAL SETTLE TYPE</label> <select
                        ng-model="trades.selected.accrualSettlementType"
                        ng-options="x for x in tabs.AccrualSettlementTypes">
                    </select><br> <label>AMOUNT</label> <input
                        class="formInput"
                        type="text"
                        ng-pattern="/^[0-9]+(\.{1}[0-9]*)?$/"
                        ng-model="trades.selected.amount"
                        size="30"> <label>TRADE DATE</label> <input
                        class="formInput"
                        type="date"
                        ng-model="trades.selected.info.tradeDate"> <label class="labelLong">AVG LIBOR</label> <input
                        class="formInput"
                        type="text"
                        ng-pattern="/^-?[0-9]+(\.{1}[0-9]*)?$/"
                        ng-model="trades.selected.averageLibor"
                        size="30"><br> <label>CURRENCY</label> <select
                        ng-model="trades.selected.currency"
                        ng-options="x for x in tabs.Currencies">
                    </select> <label>EXP SETTLE DATE</label> <input
                        class="formInput"
                        type="date"
                        ng-model="trades.selected.expectedSettlementDate"> <label class="labelLong">PAYDOWN
                        TRADE DT</label> <select
                        ng-model="trades.selected.paydownOnTradeDate"
                        ng-options="x for x in tabs.Boolean">
                    </select><br> <label>PRICE</label> <input
                        class="formInput"
                        type="text"
                        ng-pattern="/^[0-9]+(\.{1}[0-9]*)?$/"
                        ng-model="trades.selected.price"
                        size="30"> <label>ACT SETTLE DATE</label> <input
                        class="formInput"
                        type="date"
                        ng-model="trades.selected.info.settlementDate"> <label class="labelLong">ADJ
                        TRADE DT</label> <select
                        ng-model="trades.selected.adjustmentOnTradeDate"
                        ng-options="x for x in tabs.Boolean">
                    </select>
                </div>
                <section class="actionButtons">
                    <button
                        type="button"
                        ng-click="trades.calculateProceeds()"
                        ng-if="trades.selected">
                        <i class="fa fa-calculator"></i>
                    </button>
                </section>

                <table
                    id="tradeProceeds"
                    ng-if="trades.selected">
                    <thead>
                        <tr>
                            <th st-ratio="17">COST OF FUNDED</th>
                            <th st-ratio="17">BENEFIT OF UNFUNDED</th>
                            <th st-ratio="16">DELAYED COMPENSATION</th>
                            <th st-ratio="16">COST OF CARRY</th>
                            <th st-ratio="17">ECONOMIC BENEFIT</th>
                            <th st-ratio="17">TOTAL REMITTANCE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td st-ratio="17">{{trades.selected.tradeProceeds.CostOfFunded.value | currency : "" :
                                2}}</td>
                            <td st-ratio="17">{{trades.selected.tradeProceeds.BenefitOfUnfunded.value | currency :
                                "" : 2}}</td>
                            <td st-ratio="16">{{trades.selected.tradeProceeds.DelayedCompensation.value | currency
                                : "" : 2}}</td>
                            <td st-ratio="16">{{trades.selected.tradeProceeds.CostOfCarry.value | currency : "" :
                                2}}</td>
                            <td st-ratio="17">{{trades.selected.tradeProceeds.EconomicBenefit.value | currency : ""
                                : 2}}</td>
                            <td st-ratio="17">{{trades.selected.tradeProceeds.total | currency : "" : 2}}</td>
                        </tr>
                    </tbody>
                </table>
                <div
                    id="displayError"
                    ng-if="trades.error">{{trades.error}}</div>
            </div>

            <div
                ng-controller="CashflowsController as cashflows"
                ng-show="tabs.getActiveTab() == 'cash flows'">
                <table
                    id="cashflows"
                    st-safe-src="cashflows.data"
                    st-table="cashflows.displayed">
                    <thead>
                        <tr>
                            <th
                                st-ratio="11"
                                st-sort="paymentDate"
                                st-sort-default="true">PAY DATE</th>
                            <th
                                st-ratio="11"
                                st-sort="type">PAY TYPE</th>
                            <th
                                st-ratio="11"
                                st-sort="sourceType">SOURCE TYPE</th>
                            <th
                                st-ratio="11"
                                st-sort="sourceId">SOURCE ID</th>
                            <th
                                st-ratio="11"
                                st-sort="payingCounterparty">PAYER</th>
                            <th
                                st-ratio="11"
                                st-sort="receivingCounterparty">RECEIVER</th>
                            <th
                                st-ratio="11"
                                st-sort="uncertain">UNCERTAIN</th>
                            <th
                                st-ratio="12"
                                st-sort="amount">AMOUNT</th>
                            <th
                                st-ratio="11"
                                st-sort="currency">CURRENCY</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            ng-click="cashflows.setSelected(cashflow)"
                            st-select-row="cashflow"
                            st-select-mode="single"
                            ng-repeat="cashflow in cashflows.displayed">
                            <td st-ratio="11">{{cashflow.paymentDate | date : "M/d/yy"}}</td>
                            <td st-ratio="11">{{cashflow.type}}</td>
                            <td st-ratio="11">{{cashflow.sourceType}}</td>
                            <td st-ratio="11">{{cashflow.sourceId}}</td>
                            <td st-ratio="11">{{cashflow.payingCounterparty}}</td>
                            <td st-ratio="11">{{cashflow.receivingCounterparty}}</td>
                            <td st-ratio="11">{{cashflow.uncertain}}</td>
                            <td st-ratio="12">{{cashflow.amount | currency : "" : 2}}</td>
                            <td st-ratio="11">{{cashflow.currency}}</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <div
                    id="displayFormula"
                    ng-if="cashflows.selected.formula">
                    formula: <span class="selected">{{cashflows.selected.formula}}</span>
                </div>
                <table
                    ng-show="cashflows.isAccrualSelected()"
                    id="interestExplain"
                    st-safe-src="cashflows.selected.explains"
                    st-table="cashflows.selected.displayed">
                    <thead>
                        <tr>
                            <th
                                st-ratio="12"
                                st-sort="shareNotional">SHARE NOT</th>
                            <th
                                st-ratio="12"
                                st-sort="startDate">START DATE</th>
                            <th
                                st-ratio="12"
                                st-sort="endDate">END DATE</th>
                            <th
                                st-ratio="12"
                                st-sort="dayCount">DAY COUNT</th>
                            <th
                                st-ratio="12"
                                st-sort="days">DAYS</th>
                            <th
                                st-ratio="12"
                                st-sort="daysInYear">DIY</th>
                            <th
                                st-ratio="12"
                                st-sort="allInRate">RATE</th>
                            <th
                                st-ratio="16"
                                st-sort="shareAmount">SHARE AMT</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="explain in cashflows.selected.displayed">
                            <td st-ratio="12">{{explain.shareNotional | number : 2}}</td>
                            <td st-ratio="12">{{explain.startDate | date : "M/d/yy"}}</td>
                            <td st-ratio="12">{{explain.endDate | date : "M/d/yy"}}</td>
                            <td st-ratio="12">{{explain.dayCount}}</td>
                            <td st-ratio="12">{{explain.days}}</td>
                            <td st-ratio="12">{{explain.daysInYear | number : 0}}</td>
                            <td st-ratio="12">{{explain.allInRate * 100.0 | number : 6}}</td>
                            <td st-ratio="16">{{explain.shareAmount | number : 2}}</td>
                        </tr>
                    </tbody>
                </table>
                <table
                    ng-show="cashflows.isCostOfFundedSelected()"
                    id="costOfFundedExplain"
                    st-safe-src="cashflows.selected.explains"
                    st-table="cashflows.selected.displayed">
                    <thead>
                        <tr>
                            <th
                                st-ratio="25"
                                st-sort="shareNotional">SHARE NOT</th>
                            <th
                                st-ratio="25"
                                st-sort="price">PRICE</th>
                            <th
                                st-ratio="25"
                                st-sort="settPerPik">SETTLEMENT PERIOD PIK</th>
                            <th
                                st-ratio="25"
                                st-sort="shareAmount">COST OF FUNDED</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="explain in cashflows.selected.displayed">
                            <td st-ratio="25">{{explain.shareNotional | number : 2}}</td>
                            <td st-ratio="25">{{explain.price * 100.0 | number : 5}}</td>
                            <td st-ratio="25">{{explain.settPerPik | number : 2}}</td>
                            <td st-ratio="25">{{explain.shareAmount | number : 2}}</td>
                        </tr>
                    </tbody>
                </table>
                <table
                    ng-show="cashflows.isBenefitOfUnfundedSelected()"
                    id="benefitOfUnfundedExplain"
                    st-safe-src="cashflows.selected.explains"
                    st-table="cashflows.selected.displayed">
                    <thead>
                        <tr>
                            <th
                                st-ratio="33"
                                st-sort="unfundedAmt">UNFUNDED AMOUNT</th>
                            <th
                                st-ratio="34"
                                st-sort="price">PRICE</th>
                            <th
                                st-ratio="33"
                                st-sort="shareAmount">BENEFIT OF UNFUNDED</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="explain in cashflows.selected.displayed">
                            <td st-ratio="33">{{explain.unfundedAmt | number : 2}}</td>
                            <td st-ratio="34">{{explain.price * 100.0 | number : 5}}</td>
                            <td st-ratio="33">{{explain.shareAmount | number : 2}}</td>
                        </tr>
                    </tbody>
                </table>
                <table
                    ng-show="cashflows.isCostOfCarrySelected()"
                    id="costOfCarryExplain"
                    st-safe-src="cashflows.selected.explains"
                    st-table="cashflows.selected.displayed">
                    <thead>
                        <tr>
                            <th
                                st-ratio="15"
                                st-sort="expSettPx">EXP SETT PX</th>
                            <th
                                st-ratio="14"
                                st-sort="startDate">START DATE</th>
                            <th
                                st-ratio="14"
                                st-sort="endDate">END DATE</th>
                            <th
                                st-ratio="14"
                                st-sort="days">DAYS</th>
                            <th
                                st-ratio="14"
                                st-sort="daysInYear">DIY</th>
                            <th
                                st-ratio="14"
                                st-sort="avgLibor">AVG LIBOR</th>
                            <th
                                st-ratio="15"
                                st-sort="shareAmount">SHARE AMT</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="explain in cashflows.selected.displayed">
                            <td st-ratio="15">{{explain.expSettPx | number : 2}}</td>
                            <td st-ratio="14">{{explain.startDate | date : "M/d/yy"}}</td>
                            <td st-ratio="14">{{explain.endDate | date : "M/d/yy"}}</td>
                            <td st-ratio="14">{{explain.days}}</td>
                            <td st-ratio="14">{{explain.daysInYear | number : 0}}</td>
                            <td st-ratio="14">{{explain.avgLibor * 100.0 | number : 6}}</td>
                            <td st-ratio="15">{{explain.shareAmount | number : 2}}</td>
                        </tr>
                    </tbody>
                </table>
                <table
                    ng-show="cashflows.isEconomicBenefitSelected()"
                    id="economicBenefitExplain"
                    st-safe-src="cashflows.selected.explains"
                    st-table="cashflows.selected.displayed">
                    <thead>
                        <tr>
                            <th
                                st-ratio="20"
                                st-sort="trdDtFunded">TRD DT FUNDED</th>
                            <th
                                st-ratio="20"
                                st-sort="settDtFunded">SETT DT FUNDED</th>
                            <th
                                st-ratio="20"
                                st-sort="trdDtRepay">TRD DT REPAY</th>
                            <th
                                st-ratio="20"
                                st-sort="price">PRICE</th>
                            <th
                                st-ratio="20"
                                st-sort="shareAmount">ECON BENEFIT</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="explain in cashflows.selected.displayed">
                            <td st-ratio="20">{{explain.trdDtFunded | number : 2}}</td>
                            <td st-ratio="20">{{explain.settDtFunded | number : 2}}</td>
                            <td st-ratio="20">{{explain.trdDtRepay | number : 2}}</td>
                            <td st-ratio="20">{{explain.price * 100.0 | number : 5}}</td>
                            <td st-ratio="20">{{explain.shareAmount | number : 2}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div
                ng-controller="TextModelController as textmodel"
                ng-show="tabs.getActiveTab() == 'model'">
                <div id="fileOptions">
                    <button
                        type="button"
                        ng-click="textmodel.download()">
                        <i class="fa fa-download"></i> Download model to file
                    </button>
                    <input
                        class="formInput"
                        type="text"
                        ng-model="textmodel.modelfile"> <br>
                    <button
                        type="button"
                        ng-click="textmodel.upload()">
                        <i class="fa fa-upload"></i> Upload file to model
                    </button>
                    <input
                        type="file"
                        id="modelfile"> <br>
                </div>
                <textarea
                    rows="25"
                    ng-model="textmodel.prettymodel"
                    ng-focus="textmodel.refresh()"
                    ng-blur="textmodel.update()">{{textmodel.prettymodel}}</textarea>
            </div>
        </div>
    </div>
</div>

