@charset "UTF-8";
/* CSS Document */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
textarea, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background: transparent;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, main, menu, nav, section {
    display: block;
}
body {
    line-height: 1
}

ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
embed, video {
    max-width: 100%;
}
textArea{
    resize:none;
}
/*end of reset*/

span.nobr { 
	white-space: nowrap; 
}
span.small {
	font-size: 50%;
}
.indent {
    padding-left: 40px;
}
.st-sort-ascent:before {
    content: '\25B2';
  }
.st-sort-descent:before {
    content: '\25BC';
  }
.edit{
	color:green; 
	font-size:12px;
	text-align: left;
}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}
::-webkit-scrollbar-track {
	background-color: #000;
	border-radius: 2px;
}
::-webkit-scrollbar-thumb {
	background-color: green;
	border-radius: 2px; 
}
.accordion {
    cursor: pointer;
    transition: 0.4s;
    width: auto;
}
.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    color: #ada6a6;
}
a {
	color: white;
}
body {
    box-sizing: border-box;
	width:100%;
	color:#fff;
	font-family: Verdana, Geneva, sans-serif;
}

main{
	box-sizing: border-box;
	width:100%;
	height:100vh;
	background-image: url(images/loansumBackground.jpg);
	background-size: cover;
	overflow: hidden;
	padding-bottom: 30px;
}		

pre {
   font-family: "courier new", courier, monospace;
   padding-left: 10%;
}

#logo{
	/*
	padding-left:10%;
	padding-top:8vh;
	*/
	padding-left:5%;
	padding-top:4vh;
}

.topnav {
    position: relative;
    float: right;
    /* padding-top:9.4vh;
    padding-right:10%; */
    padding-top:5.4vh;
    padding-right:5%;
}
.topnav a {
    float: left;
    display:inline;
    padding-right: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}
.topnav a:hover {
    color:#0675c2;
}
.topnav a:active {
    color:#0675c2;
}
.topnav .icon {
    display: none;
}
#tagline{
	text-align: center;
	font-size: 36px;
	font-family: Verdana, Geneva, sans-serif;
	padding-top:50vh;
	color: #fff;
}
#taglineLS{
	color: #0675c2;
}
a:active{
	color: #0675c2;
}
h1{
	color: #0675c2;
	text-align: left;
	font-size: 25px;
	padding-bottom: 10px;
	padding-top: 30px;
}

button {
	background: transparent;
	color:green;
	border-radius: none;
	border: none;
}
button:hover {
	color:white;
}
button:focus {
	outline-color: transparent;
    outline-style: none;
	background-color: #353535;
}
.actionButtons {
	text-align: left;
}
.actionButtons button{
    box-sizing: border-box;
    font-size: 12px;
    width: 20px;
    height: 20px;
    padding: 0;
    text-align: center;
}
textarea {
    box-sizing: border-box;	 
    padding: 5px;
	width: 100%;  
	color: #fff;
	border: solid 1px green;
}

#calculator, #demos, #intro, #start, #community{
/*.dropdown {*/
    box-sizing: border-box;
	width: 95%;
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;
    /* height: 80vh; */
    height: 84vh;
	padding:20px;
	text-align: center;	
	background-color: rgba(0,0,0,.6); 
	color:green;
	display:none;
	overflow-y:auto; 
	overflow-x:auto;
}
#wrapper{
	width: 100%;
	min-width: 988px;
	margin:auto;
	padding-bottom: 20px;
	overflow:auto;
}
#intro, #start, #community{
	color:#fff;
	padding-top: 60px;
}
#introText, #startText, #communityText {
	width: 60%;
	text-align: left;
    padding-left:10%;
}
p, ol {
	padding-bottom: 1em;
    line-height: 1.75;
}

#displaySelectedLoan, #displayNoSelectedLoan, #displayError, #displayFormula {
	text-align: left;
	font-size: 11px;
	line-height: 2;
	padding-left: 5px;
	clear:both;
}
#displaySelectedLoan, #displayNoSelectedLoan {
	padding-top: 5px;
}
#displayError {
	color:red
}
	
/*from smart table flex-fixed header*/
table {   
	box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width:100%;
	margin:auto;
	border: 1px solid green;
	min-width: 863px;
    min-height: 47px;	
}

#loans {
	max-height: 196px;
}
#contracts {
	max-height: 175px;
}
#trades {
	max-height: 150px;
}
#commitment {
	max-height: 400px;
}
#cashflows {
	max-height: 300px;
}
#interestExplain {
	max-height: 110px;
}
#eventTable {	
	height: 65px;
	margin-top: 10px;
}
#events {	
	max-height: 77px;
	margin-top: 20px;
}
#tradeProceeds{
    margin-top: 20px;
}
#calculateTradeTable {		
	margin-top: 20px;
	height:44px;
}

#editContractEvents {
	max-height: 77px;
	margin-top: 20px;	
}
.editTable {
	margin-top: 20px;
}

th , td {
 	padding: 5px;
	padding-left:0;
	padding-right:0;
	font-size: 11px; 
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
th {
	border-bottom: solid 1px green;
    font-weight: normal;
	color: green;
	padding-bottom: 6px;
	max-height: 26px;
	overflow-x:hidden;	
}

#eventTable td {
	padding-top:2px;
	padding-bottom:2px;
}
#facilityEventTable td {
	padding-top:2px;
	padding-bottom:2px;
}

table * { 
	box-sizing: inherit;
}

thead {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-shrink: 0;
}

tbody {
    overflow-y: auto;
    display: inline-block;
}

thead > tr, tbody > tr {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
tr {
	color:#FFC000;
}
tr.st-selected {
	color:white;
}

td { 
	border-left: 0px;
	border-right: 0px;
}
		

th, tbody td {
    display: inline-block;
}	

/*style the tabs*/
div.tab {
	width:88.4%;
	margin:auto;
	
	overflow: hidden;
}
ul.nav-tabs li {
	float:left;
	margin-left:1px;
	margin-right: 1px;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 1.42857143;		
}
ul.nav-tabs li:first-child {
	padding-left: 5px;
	margin-left: 0;
}
ul.nav-tabs li.active {
	border-bottom-color: black;
}
ul.nav-tabs a {
	color: rgb(42, 100, 150);
	font-size:14px;
	text-decoration: none;
}
ul.nav-tabs a:hover {
	color: white;
}
ul.nav-tabs li.active a {
	color:white;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
       -o-transition: opacity .15s linear;
          transition: opacity .15s linear;
}
.fade.in {
  opacity: 1;
}
	
#loanStaticInfo, #contractDetail, #tradeDetail {
    box-sizing: border-box;
    width: 100%;
	margin-top: 20px;	
	border: 1px solid green;
	font-size: 11px;
	color:green;
	min-width: 863px;
    padding:5px;
    padding-top:10px;
    padding-left: 20px;
	}	
	
.textalign{
    text-align: left;
    padding-left: 20px;
}
.numberalign {
    text-align: right;
    padding-right: 10px;
}
.inTableDelete {
	float: left;
}
.column1, .column2, .column3 {
	width:30%;
	display:inline-block;
}
.column2 {
	padding-left: 5%;
}
.column3 {
	float: right;
}
label {
    display: inline-block;
    width:120px;
    text-align: left;
}
input.formInput {
    box-sizing: border-box;	
	margin-bottom: 5px;	
	margin-right: 10px;
	background: transparent;
    border: none;
	color: #FFC000;
	width: 200px;
	font-size: 11px;
}
#fileOptions{
    float: right;
    text-align: left;
    font-size: 11px;
    margin-bottom: 5px;
}
#fileOptions button{
    width:170px;
    text-align: left;
    margin-right: 5px;
}
#fileOptions input{
    width:200px;
    color:#fff;
    background: transparent;
}
input.formInput:focus {
	outline-color: transparent;
    outline-style: none;
	background-color: #353535;	
}
input:disabled, select:disabled {
	background-color: #111;
}
input.tableInput {
	padding:0;
	border:none;
	margin: 0;
	background: transparent;
	color: #FFC000;
	font-size: 11px;
}
.selected, tr.st-selected input, tr.st-selected select {
	color:white;
}

select {
	background: transparent;
	margin-right: 10px;
	color:#FFC000;
	border:none;
	width:200px;
	margin-bottom: 5px;
	font-size: 11px;
}

select:focus {
	outline-color: transparent;
    outline-style: none;
	background-color: #353535;
}

.tableSelect {
	margin: 0;
	padding: 0;
	border: none;
	width: auto;
}
.tableInput {
	text-align: center;
}
input:disabled.tableInput {
	width:90%;
	text-align: center;
	background-color: #111;
}
select:disabled.tableSelect {
	width:90%;
	text-align: center;
	background-color: #111;
}
td#eventTable {
	padding-bottom: 0;
	padding-top: 0;
}
td#facilityEventTable {
	padding-bottom: 0;
	padding-top: 0;
}
select::-ms-expand { 
		display: none;
}
select:not([multiple]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: right 50%;
    background-repeat: no-repeat;
    background-image: url(images/selectArrow.png);
}
option {
	color: green;
	}
input.ng-invalid {
	color:#D51B1B;
}


/* for desktop*/
@-webkit-keyframes fadeEffect {
    from { opacity: 0;}
    to { opacity: 1;}
}

@keyframes fadeEffect {
    from { opacity: 0;}
    to { opacity: 1;}
}

/*navigation for mobile and tablet*/
@media screen and (max-width: 769px) {	
  .topnav a {
	  display: none;
  }	
  .topnav a.icon {
      float: right;
      display: block;
	  font-size: 16px;
  }	
  .topnav.responsive .icon {
	  float: right; 
  }
  .topnav.responsive a:not(:first-child) {
	  padding-top:4px;
	  padding-bottom:2px;
	  clear: both;
	  width:100;	
	  text-align: right;
  }
  .topnav.responsive a {
      float: none;
      display: block;   
  }
  #tagline {
	  font-size: 24px;
  }
  h1 {
      font-size: 16px;
  }
  #demos, #intro, #start, #community {
      font-size: 12px;
  }
  p, ol {
    line-height: 1.5;
    padding-bottom: 3em;
    }
  #introText, #startText, #communityText {
	width: 90%;
    padding-left: 5%;
    padding-bottom: 20px;
  }
}
/*end for mobile and tablet*/
