@charset "UTF-8";
/* CSS Document */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
textarea, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background: transparent;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, main, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}embed, video {
    max-width: 100%;
}
/*end of reset*/

.glyphicon {
    font-family: 'Glyphicons Halflings';
    font-size:1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.st-sort-ascent:before {
    content: '\25B2';
  }
.st-sort-descent:before {
    content: '\25BC';
  }
.edit{
	color:green; 
	font-size:12px;
	text-align: left;
}

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}
::-webkit-scrollbar-track {
	background-color: #000;
	border-radius: 2px;
}
::-webkit-scrollbar-thumb {
	background-color: green;
	border-radius: 2px; 
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
	width:100%;
	color:#fff;
	font-family: Verdana, Geneva, sans-serif;
}

main{
	box-sizing: border-box;
	width:100%;
	height:100vh;/*min-height:100vh; testing, may choose to put back*/
	background-image: url(images/loansumBackground.jpg);
	background-size: cover;
	overflow: hidden;
	padding-bottom: 30px;
}		
		
#logo{
	padding-left:10%;
	padding-top:8vh;
}

.topnav {
    position: relative;
    float: right;
    padding-top:9.4vh;
    padding-right:10%;
}
.topnav a {
    float: left;
    display:inline;
    padding-right: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}
.topnav a:hover {
    color:#0675c2;
}
.topnav a:active {
    color:#0675c2;
}
.topnav .icon {
    display: none;
}
#tagline{
	text-align: center;
	font-size: 36px;
	font-family: Verdana, Geneva, sans-serif;
	padding-top:50vh;
	color:#fff;
}
#taglineLS{
	color:#0675c2;
}
a:active{
	color: #0675c2;
}
h1{
	color:#0675c2;
	text-align: left;
	font-size: 20px;
	padding-bottom: 10px;
	padding-top: 30px;
}
#intro h1:first-child{
	padding-top: 0;
}
.sideNav{
	display: block;
	float: left;
	width:20%;
	text-align: left;
	padding-left: 100px;
	line-height: 1.5;
	font-weight: bold;
}
.sideNav a{
	display: block;
	color:/*#111;*/white;
	text-decoration: none;
}
.sideNav a:hover, .sideNav a:active{
	text-decoration: underline;
}

/*navigation for mobile and tablet*/
@media screen and (max-width: 769px) {	
  .topnav a {
	  display: none;
  }	
  .topnav a.icon {
      float: right;
      display: block;
	  font-size: 16px;
  }	
  .topnav.responsive .icon {
	  float: right; 
  }
  .topnav.responsive a:not(:first-child) {
	  padding-top:4px;
	  padding-bottom:8px;
	  clear: both;
	  width:100;	
	  text-align: right;
  }
  .topnav.responsive a {
      float: none;
      display: block;   
  }
  #tagline{
	  font-size: 24px;
  }
 
  .sideNav{
	  display: none;
  }
}
/*end for mobile and tablet*/

button {
	background-color: #292929;
	color:green;
	border-radius: none;
	border: none;
}
#calculateButton {
	padding-left:7px;
	padding-right:7px;
	padding-top:3px;
	padding-bottom: 3px;
}
button:hover {
	color:white;
}
button:focus {
	outline-color: transparent;
    outline-style: none;
	background-color: #353535;
}
.faIcon {
	padding-left:7px;
	padding-right:7px;
	padding-top:3px;
	padding-bottom: 3px;
}
.actionButtons {
	text-align: left;
}
textarea {
    box-sizing: border-box;	 
    padding: 5px;
	width: 100%;  
	color: #fff;
	border: solid 1px green;
}

#newCalculator, #intro {
    box-sizing: border-box;
	width: 95%;
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;
    height: 80vh; 
	padding:20px;
	text-align: center;	
	background-color: rgba(0,0,0,.6); 
	color:green;
	display:none;
	overflow-y:auto; 
	overflow-x:auto;
}
#wrapper{
	width: 100%;
	min-width: 988px;
	margin:auto;
	padding-bottom: 20px;
	overflow:auto;
}
#intro {
	color:#fff;
	padding-top: 60px;
}
#introText {
	width: 60%;
	float: right;
	text-align: left;
	padding-right: 100px;		
}
#introText p {
	padding-bottom: 1em;
}

#displaySelectedLoan, #displayNoSelectedLoan, #displayError, #displayFormula {
	text-align: left;
	font-size: 10px;
	line-height: 2;
	padding-left: 5px;
	clear:both;
}
#displaySelectedLoan, #displayNoSelectedLoan {
	padding-top: 5px;
}
#displayError {
	color:red
}
	
/*from smart table flex-fixed header*/
table {   
	box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 108px; /* this can vary */	
	resize:vertical;/*mine*/	
}

.table {	
	box-sizing: border-box;
	width:100%;
	margin:auto;
	border: 1px solid green;
	min-width: 863px;
}
#cashflows {
	height: 150px;
}
#eventTable {	
	height: 65px;
	margin-top: 10px;
}
#events {	
	height: 77px;
	margin-top: 10px;
}
#calculateTradeTable {		
	margin-top: 20px;
	height:44px;
}

#editContractEvents {
	margin-top: 10px;	
}
.editTable {
	margin-top: 20px;
}

table, th , td { /*mine*/
  	border-collapse: collapse;
}
th , td {
 	padding: 5px;
	padding-left:0;
	padding-right:0;
	font-size: 10px; 
	white-space:nowrap;   /* disable auto wrap */
	overflow:hidden;      /* text overflowed will be hidden */
	text-overflow:ellipsis; /* text 0verflowed will be replaced with ... */
}

#eventTable td {
	padding-top:2px;
	padding-bottom:2px;
}
#facilityEventTable td {
	padding-top:2px;
	padding-bottom:2px;
}
th {
	border-bottom: solid 1px green;
	border-right: solid 1px green;		
}
th:last-child {
	border-right: none;
}

table * { 
	box-sizing: inherit;
}

thead {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

tbody {
    overflow-y: auto;
    display: inline-block;
}

thead > tr, tbody > tr, tfoot > tr {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
tr {
	color: gold;
}
tr.st-selected {
	color:white;
}
th {	
	font-weight: normal;
	color: green;
	padding-bottom: 6px;
	max-height: 26px;
	overflow-x:hidden;
}
td { 
	border-left: 0px;
	border-right: 0px;
	border-bottom: 1px solid #000;
	background-color: #292929;
}
		
thead, tfoot {
    flex-shrink: 0;
}

th, tbody td {
    display: inline-block;
}
	
tfoot {
    display: inline-block;
}

tfoot td {
    width: 100%;
    display: inline-block;
}
	

/*style the tabs*/
div.tab {
	width:88.4%;
	margin:auto;
	
	overflow: hidden;
}
ul.nav-tabs li {
	float:left;
	margin-left:1px;
	margin-right: 1px;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 1.42857143;		
}
ul.nav-tabs li:first-child {
	padding-left: 5px;
	margin-left: 0;
}
ul.nav-tabs li.active {
	border-bottom-color: black;
}
ul.nav-tabs a {
	color: rgb(42, 100, 150);
	font-size:14px;
	text-decoration: none;
}
ul.nav-tabs a:hover {
	color: white;
}
ul.nav-tabs li.active a {
	color:white;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
       -o-transition: opacity .15s linear;
          transition: opacity .15s linear;
}
.fade.in {
  opacity: 1;
}
/*form {
    box-sizing: border-box;			
	margin-top: 20px;	
	border-style: solid;
	border-width: 1px;
	border-color: green;
	font-size: 12px;
	color:green;
	min-width: 863px;
}*/
	
#loanStaticInfo, #contractDetail, #tradeDetail,#tradeProceeds {
    box-sizing: border-box;			
	/*width: 84%;*/
	margin:auto;
	margin-top: 20px;	
	border-style: solid;
	border-width: 1px;
	border-color: green;
	font-size: 12px;
	color:green;
	min-width: 863px;
	}	
	
#loanStaticInfo, #contractDetail, #tradeDetail {
		padding:5px;
}
.alignleft {
	text-align: left;
}
.inTableDelete {
	float: left;
	line-height: 14px;
}
.column1, .column2, .column3 {
	width:30%;
	display:inline-block;
}
.column2 {
	padding-left: 5%;
}
.column3 {
	float: right;
}
label {
    display: inline-block;
    width:120px;
    text-align: left;
	letter-spacing:-1px;
}
.labelLong {	
	width: 130px;
}
input.formInput {
    box-sizing: border-box;	
	margin-bottom: 5px;	
	margin-right: 10px;
	background-color:#292929;
	border: none;
	color: gold;
	padding-left:4px;
	width: 200px;
}
#fileOptions{
    float: right;
    text-align: left;
    font-size: 11px;
    margin-bottom: 5px;
}
#fileOptions button{
    width:160px;
    text-align: left;
    margin-right: 5px;
}
#fileOptions input{
    width:200px;
    color:#fff;
    background-color:#292929;
}
input.formInput:focus {
	outline-color: transparent;
    outline-style: none;
	background-color: #353535;	
}
input:disabled, select:disabled {
	background-color: #111;
}
input.tableInput {
	padding:0;
	border:none;
	margin: 0;
	background-color:#292929;
	color:gold;
}
.selected, tr.st-selected input, tr.st-selected select {
	color:white;
}

select {
	background-color:#292929;
	margin-right: 10px;
	color:gold;
	border:none;
	width:200px;
	padding-left:1px;
	margin-bottom: 5px;
}

select:focus {
	outline-color: transparent;
    outline-style: none;
	background-color: #353535;
}

.tableSelect {
	margin: 0;
	padding: 0;
	border: none;
	width: auto;
}
.tableInput {
	text-align: center;
}
input:disabled.tableInput {
	width:90%;
	text-align: center;
	background-color: #111;
}
select:disabled.tableSelect {
	width:90%;
	text-align: center;
	background-color: #111;
}
td#eventTable {
	padding-bottom: 0;
	padding-top: 0;
}
td#facilityEventTable {
	padding-bottom: 0;
	padding-top: 0;
}
select::-ms-expand { 
		display: none;
}
select:not([multiple]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: right 50%;
    background-repeat: no-repeat;
    background-image: url(images/selectArrow.png);
}
option {
	color: green;
	}
input.ng-invalid {
	color:#D51B1B;
}


/* for desktop*/
@-webkit-keyframes fadeEffect {
    from { opacity: 0;}
    to { opacity: 1;}
}

@keyframes fadeEffect {
    from { opacity: 0;}
    to { opacity: 1;}
}
