
<div id="introText">

    <div>
        <h1
            class="accordion"
            ng-class="{ active: accordion.isSelected('calculator') }"
            ng-click="accordion.select('calculator')">
            <i class="fab fa-youtube"></i>&nbsp;Running the calculator
        </h1>
        <p ng-show="accordion.isSelected('calculator')">Loansum is the initial open source offering from
            SyndLoanHub, LLC. Loansum is the first open source library designed from scratch to accurately model
            syndicated bank loan cash flows and valuation. Financial software developers can leverage loansum software
            to construct or extend applications with bona fide bank loan support.</p>
    </div>

    <div>
        <h1
            class="accordion"
            ng-class="{ active: accordion.isSelected('obtaining') }"
            ng-click="accordion.select('obtaining')">
            <i class="fab fa-github"></i>&nbsp;Obtaining loansum
        </h1>
        <p ng-show="accordion.isSelected('obtaining')">
            Native bank loan software is notoriously complex and expensive. Only a handful of software vendors model
            this product accurately with sufficient support to produce detailed cash flows with accompanying
            explanations. Loansum was developed to establish a free and open bank loan software library around which a
            community of stakeholders could extend and improve over time. Loansum is released as Open Source Software
            under the <a
                href="https://www.apache.org/licenses/LICENSE-2.0.html"
                target="_blank">Apache v2.0 license</a>. This is a widely used, business-friendly, license.
        </p>
    </div>

    <div>
        <h1
            class="accordion"
            ng-class="{ active: accordion.isSelected('examples') }"
            ng-click="accordion.select('examples')">
            <i class="fab fa-java"></i>&nbsp;Code examples
        </h1>
        <p ng-show="accordion.isSelected('examples')">
            The design and implementation of loansum is based on <a
                href="http://strata.opengamma.io"
                target=_blank">Strata</a>, the award-winning open source analytics and market risk library from <a
                href="http://opengamma.com"
                target=_blank">OpenGamma</a>. Loansum’s Strata foundation lays the groundwork for providing future
            versions of loansum that include sophisticated market risk analytics by projecting future bank loan cash
            flows and evaluating credit spread and interest rate scenarios.
        </p>
    </div>
    
</div>
