<div id="calculator" ng-app="Calculator"
	ng-controller="CalculatorController">

	<div class="tab">
		<ul class="nav nav-tabs">
			<li ng-class="{ active: tabIsSet(1) }"><a href
				ng-click="setTab(1)">facilities</a></li>
			<li ng-class="{ active: tabIsSet(2) }"><a href
				ng-click="setTab(2)">contracts</a></li>
			<li ng-class="{ active: tabIsSet(3) }"><a href
				ng-click="setTab(3)">trades</a></li>
			<li ng-class="{ active: tabIsSet(4) }"><a href
				ng-click="calculateCashFlows(); setTab(4);">cash flows</a></li>
			<li ng-class="{ active: tabIsSet(5) }"><a href
				ng-click="updateModel(); setTab(5)">model</a></li>
		</ul>
	</div>

	<div id="displaySelectedLoan">
		{{(lastSelectedLoan ? 'selected loan: ' : ' ')}} <span class="white">{{(lastSelectedLoan
			? uimodel[selectedLoanIndex].id.value : ' ')}}</span> &nbsp;&nbsp;&nbsp;
		{{(lastSelectedLoan ? 'borrower: ' : ' ')}} <span class="white">{{(lastSelectedLoan
			? uimodel[selectedLoanIndex].borrower.value : ' ')}}</span>
	</div>

	<div ng-show="tabIsSet(1)">
		<table id="loanTable" st-safe-src="uimodel"
			st-table="displayedCollection" class="table"
			st-set-filter="customFilter">
			<thead>
				<tr>
					<th id="loanIdHead" st-ratio="8"><span st-sort="id">
							FACILITY ID</span> <span id="filterLoanId"
						ng-class="(selectedLoanId==null || selectedLoanId=='') ? 'icon-filter' : 'icon-filter isFiltered'"></span>
						<select ng-model="selectedLoanId" id="loanIdFilter"
						ng-options="id for x in (uimodel | unique:'id') track by x.id"
						st-search="id">
							<option value="">All</option>
					</select></th>
					<th id="borrowerHead" st-ratio="14"><span st-sort="borrower">
							BORROWER</span> <span id="filterBorrower"
						ng-class="(selectedBorrower==null || selectedBorrower=='') ? 'icon-filter' : 'icon-filter isFiltered'"></span>
						<select ng-model="selectedBorrower" id="borrowerFilter"
						ng-options="x.borrower for x in (uimodel | unique:'borrower') track by x.borrower"
						st-search="borrower">
							<option value="">All</option>
					</select></th>
					<th id="agentHead" st-ratio="14"><span st-sort="agent">
							AGENT</span> <span id="filterAgent"
						ng-class="(selectedAgent==null || selectedAgent=='') ? 'icon-filter' : 'icon-filter isFiltered'"></span>
						<select ng-model="selectedAgent" id="agentFilter"
						ng-options="x.agent for x in (uimodel | unique:'agent') track by x.agent"
						st-search="agent">
							<option value="">All</option>
					</select></th>
					<th id="facilityTypeHead" st-ratio="10"><span
						st-sort="facilityType">FACILITY TYPE</span> <span
						id="filterFacilityType"
						ng-class="(selectedFacilityType==null || selectedFacilityType=='') ? 'icon-filter' : 'icon-filter isFiltered'"></span>
						<select ng-model="selectedFacilityType" id="facilityTypeFilter"
						ng-options="x.facilityType for x in (uimodel | unique:'facilityType') track by x.facilityType"
						st-search="facilityType">
							<option value="">All</option>
					</select></th>
					<th id="originalCommitmentAmountHead" st-ratio="18"><span
						st-sort="originalCommitmentAmount">ORIG COMMITMENT</span> <span
						id="filterOriginalCommitmentAmount"
						ng-class="(selectedOriginalCommitmentAmount==null || selectedOriginalCommitmentAmount=='') ? 'icon-filter' : 'icon-filter isFiltered'"></span>
						<select ng-model="selectedOriginalCommitmentAmount"
						id="originalCommitmentAmountFilter"
						ng-options="(x.originalCommitmentAmount|currency : '' : 2) for x in (uimodel | unique:'originalCommitmentAmount' ) track by x.originalCommitmentAmount"
						st-search="originalCommitmentAmount">
							<option value="">All</option>
					</select></th>
					<th id="startDateHead" st-ratio="13"><span st-sort="startDate">
							START DATE</span> <span id="filterStartDate"
						ng-class="(selectedStartDate==null || selectedStartDate=='') ? 'icon-filter' : 'icon-filter isFiltered'"></span>
						<select ng-model="selectedStartDate" id="startDateFilter"
						ng-options="(x.startDate|date:'M/d/yy') for x in (uimodel | unique:'startDate' ) track by x.startDate"
						st-search="startDate">
							<option value="">All</option>
					</select></th>
					<th id="maturityDateHead" st-ratio="13"><span
						st-sort="maturityDate">MATURITY DATE</span> <span
						id="filterMaturityDate"
						ng-class="(selectedMaturityDate==null || selectedMaturityDate=='') ? 'icon-filter' : 'icon-filter isFiltered'"></span>
						<select ng-model="selectedMaturityDate" id="maturityDateFilter"
						ng-options="(x.maturityDate|date:'M/d/yy') for x in (uimodel | unique:'maturityDate' ) track by x.maturityDate"
						st-search="maturityDate">
							<option value="">All</option>
					</select></th>
					<th id="currencyHead" st-ratio="10"><span st-sort="currency">
							CURRENCY</span> <span id="filterCurrency"
						ng-class="(selectedCurrency==null || selectedCurrency=='') ? 'icon-filter' : 'icon-filter isFiltered'"></span>
						<select ng-model="selectedCurrency" id="currencyFilter"
						ng-options="x.currency for x in (uimodel | unique:'currency') track by x.currency"
						st-search="currency">
							<option value="">All</option>
					</select></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-click="selectLoan(row)" st-select-row="row"
					ng-repeat="row in displayedCollection">
					<td st-ratio="8">{{row.id.value}}</td>
					<td st-ratio="14">{{row.borrower.value}}</td>
					<td st-ratio="14">{{row.agent.value}}</td>
					<td st-ratio="10">{{row.facilityType}}</td>
					<td st-ratio="18">{{row.originalCommitmentAmount.value |
						currency : "" : 2}}</td>
					<td st-ratio="13">{{row.startDate | date : "M/d/yy" }}</td>
					<td st-ratio="13">{{row.maturityDate | date : "M/d/yy"}}</td>
					<td st-ratio="10">{{row.originalCommitmentAmount.currency}}</td>
				</tr>
			</tbody>
		</table>
		<section class="actionButtons">
			<button type="button" ng-mousedown="addLoan()"
				ng-mouseup="scrollLoan()" class="btn btn-sm btn-success">
				<i class="glyphicon glyphicon-plus"></i>+
			</button>
			<button type="button" ng-click="removeLoan(selectedLoan)"
				class="btn btn-sm btn-danger">
				<i class="glyphicon glyphicon-remove-circle"></i>-
			</button>
			<button type="button" ng-mousedown="copy()" ng-mouseup="" class="btn btn-sm btn-success faIcon">
			    <i class="fa fa-clone"></i>
			</button>
		</section>

		<!--The ng-model directive can provide type validation for application data (number, e-mail, required) and use ng-show to display error msg-->

		<form novalidate>
			<div id="loanStaticInfo" class="alignleft">
				<div class="edit">&#x270e;</div>
				<br>
				<section class="column1">
					<label>Facility Id</label> <input class="formInput" type="text"
						ng-model="selectedLoan.id.value" size="30"> <br> <label>Borrower</label>
					<input class="formInput" type="text"
						ng-model="selectedLoan.borrower.value" size="30"><br>
					<label>Agent</label> <input class="formInput" type="text"
						ng-model="selectedLoan.agent.value" size="30"><br>
				</section>
				<section class="column2">
					<label>Facility Type</label> <select
						ng-model="selectedLoan.facilityType"
						ng-options="x for x in FacilityTypes" class="mySelect">
					</select> <br> <label>Orig Commitment</label> <input
						class="formInput number" type="text"
						ng-pattern="/^[0-9]+(\.{1}[0-9]*)?$/"
						ng-model="selectedLoan.originalCommitmentAmount.value" size="30">
					<br> <label>Currency</label> <select
						ng-model="selectedLoan.originalCommitmentAmount.currency"
						ng-options="x for x in Currencies" class="mySelect">
					</select>
				</section>
				<section class="column3">
					<label>Start Date</label> <input class="formInput" type="date"
						ng-model="selectedLoan.startDate"><br> <label>Maturity
						Date</label> <input class="formInput" type="date"
						ng-model="selectedLoan.maturityDate"><br>
				</section>
				<!-- ?add LXID, CUSIP, and Bloomberg ID-->
			</div>
			<!-- <input type="reset">-->
			<!--  <button ng-click="reset()">RESET</button>-->
		</form>

		<div id="editFacilityEvents" class="edit">&#x270e;</div>
		<table id="facilityEventTable"
			st-safe-src="uimodel[selectedLoanIndex].events"
			st-table="displayedFacilityEvents" class="table"
			st-set-filter="customFilter">
			<thead>
				<tr>
					<th id="facilityEventTypeHead" st-ratio="25"><span
						st-sort="@bean"> EVENT TYPE</span></th>
					<th id="facilityEffectiveDateHead" st-ratio="25"><span
						st-sort="facilityEffectiveDate"> EFFECTIVE DATE</span></th>
					<th id="facilityEventAmountHead" st-ratio="25"><span
						st-sort="amount"> AMOUNT</span></th>
					<th id="refusalAllowedHead" st-ratio="25"><span
						st-sort="refusalAllowed"> REFUSAL ALLOWED</span></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="event in displayedFacilityEvents">
					<td st-ratio="25">
						<button type="button" ng-click="removeFacilityEvent(event)"
							class="btn btn-sm btn-danger inTableDelete">
							<i class="glyphicon glyphicon-remove-circle"></i>-
						</button> <select ng-model="event['@bean']" class="mySelect tableSelect">
							<option value="CommitmentAdjustment">Commitment
								Adjustment</option>
					</select>
					</td>
					<td st-ratio="25"><input class="tableInput" type="date"
						ng-model="event.effectiveDate"></td>
					<td st-ratio="25"><input class="tableInput number" type="text"
						ng-pattern="/^[0-9]+(\.{1}[0-9]*)?$/"
						ng-model="event.amount.value"></td>
					<td st-ratio="25"><select class="tableSelect"
						ng-model="event.refusalAllowed"
						ng-options="(item?'Yes':'No') for item in [true, false]">
							<option value=""></option>
					</select></td>
				</tr>
			</tbody>
		</table>

		<section class="actionButtons">
			<button type="button" ng-mousedown="addFacilityEvent()"
				ng-mouseup="scrollFacilityEvent()" class="btn btn-sm btn-success">
				<i class="glyphicon glyphicon-plus"></i>+
			</button>
		</section>

	</div>


	<div ng-show="tabIsSet(2)">
		<table id="contractTable"
			st-safe-src="uimodel[selectedLoanIndex].contracts"
			st-table="displayedContracts" class="table"
			st-set-filter="customFilter">
			<thead>
				<tr>
					<th id="contractIdHead" st-ratio="6"><span st-sort="id">
							CONTRACT ID</span></th>
					<th id="contractStartDateHead" st-ratio="10"><span
						st-sort="accrual.startDate"> START DATE</span></th>
					<th id="endDateHead" st-ratio="10"><span
						st-sort="accrual.endDate"> END DATE</span></th>
					<th id="paymentDateHead" st-ratio="10"><span
						st-sort="paymentDate"> PAYMENT DATE</span></th>
					<th id="contractAmountHead" st-ratio="11"><span
						st-sort="accrual.accrualAmount.amount"> AMOUNT</span></th>
					<th id="typeHead" st-ratio="12"><span st-sort="accrual.spread">
							TYPE</span></th>
					<th id="indexHead" st-ratio="8"><span
						st-sort="accrual.index.value"> INDEX</span></th>
					<th id="spreadHead" st-ratio="8"><span
						st-sort="accrual.spread"> SPREAD</span></th>
					<th id="allInRateHead" st-ratio="9"><span
						st-sort="accrual.allInRate"> ALL IN RATE</span></th>
					<th id="dayCountHead" st-ratio="8"><span
						st-sort="accrual.dayCount"> DAY COUNT</span></th>
					<th id="contractCurrencyHead" st-ratio="8"><span
						st-sort="accrual.accrualAmount.currency"> CURRENCY</span></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-click="selectContract(contract)" st-select-row="contract"
					ng-repeat="contract in displayedContracts">
					<td st-ratio="6">{{contract.id.value}}</td>
					<td st-ratio="10">{{contract.accrual.startDate | date :
						"M/d/yy"}}</td>
					<td st-ratio="10">{{contract.accrual.endDate | date :
						"M/d/yy"}}</td>
					<td st-ratio="10">{{contract.paymentDate | date : "M/d/yy"}}</td>
					<td st-ratio="11">{{contract.accrual.accrualAmount.value |
						currency : "" : 2}}</td>
					<td st-ratio="12">{{contract.accrual["@bean"]}}</td>
					<td st-ratio="8">{{contract.accrual.index.value}}</td>
					<td st-ratio="8">{{contract.accrual.spread}}</td>
					<td st-ratio="9">{{contract.accrual.allInRate}}</td>
					<td st-ratio="8">{{contract.accrual.dayCount}}</td>
					<td st-ratio="8">{{contract.accrual.accrualAmount.currency}}</td>
				</tr>
			</tbody>
		</table>
		<section class="actionButtons">
			<button type="button" ng-mousedown="addContract()"
				ng-mouseup="scrollContract()" class="btn btn-sm btn-success">
				<i class="glyphicon glyphicon-plus"></i>+
			</button>
			<button type="button" ng-click="removeContract(selectedContract)"
				class="btn btn-sm btn-danger">
				<i class="glyphicon glyphicon-remove-circle"></i>-
			</button>
		</section>

		<form novalidate>

			<div id="contractDetail" class="alignleft">
				<div class="edit">&#x270e;</div>
				<br>
				<section class="column1">
					<label>Contract ID</label> <input class="formInput" type="text"
						ng-model="selectedContract.id.value" size="30"><br> <label>Start
						Date</label> <input class="formInput" type="date"
						ng-model="selectedContract.accrual.startDate"><br> <label>End
						Date</label> <input class="formInput" type="date"
						ng-model="selectedContract.accrual.endDate"><br> <label>Payment
						Date</label> <input class="formInput" type="date"
						ng-model="selectedContract.paymentDate"><br> <label>Amount
						(M)</label> <input class="formInput number" type="text"
						ng-pattern="/^[0-9]+(\.{1}[0-9]*)?$/"
						ng-model="selectedContract.accrual.accrualAmount.value" size="30"><br>
				</section>
				<section class="column2">
					<label>Type</label> <select ng-change="accrualTypeChange()"
						ng-model="selectedContract.accrual['@bean']" class="mySelect"
						ng-options="x for x in AccrualTypes">
					</select><br> <label>Index</label> <select
						ng-model="selectedContract.accrual.index.value" class="mySelect"
						ng-disabled="selectedContract.accrual['@bean']=='FixedRateAccrual'"
						ng-options="x for x in IborTerms">
					</select><br> <label>Spread</label> <input class="formInput number"
						type="text" ng-pattern="/^[0-9]+(\.{1}[0-9]*)?$/"
						ng-model="selectedContract.accrual.spread" size="30"
						ng-disabled="selectedContract.accrual['@bean']=='FixedRateAccrual'"><br>
					<label>All In Rate</label> <input class="formInput number"
						type="text" ng-pattern="/^[0-9]+(\.{1}[0-9]*)?$/"
						ng-model="selectedContract.accrual.allInRate" size="30"><br>
					<label>Day Count</label> <select
						ng-model="selectedContract.accrual.dayCount" class="mySelect"
						ng-options="x for x in DayCounts">
					</select><br>
				</section>
				<section class="column3">
					<label>Currency</label> <select
						ng-model="selectedContract.accrual.accrualAmount.currency"
						class="mySelect" ng-options="x for x in Currencies">
					</select><br> <label>Payment Frequency</label> <select
						ng-model="selectedContract.accrual.paymentFrequency"
						class="mySelect" ng-options="x for x in PaymentFrequencies">
					</select><br> <label>Base Rate</label> <input class="formInput number"
						type="text" ng-pattern="/^[0-9]+(\.{1}[0-9]*)?$/"
						ng-model="selectedContract.accrual.baseRate" size="30"
						ng-disabled="selectedContract.accrual['@bean']=='FixedRateAccrual'"><br>
					<label>Pik Spread</label> <input class="formInput number"
						type="text" ng-pattern="/^[0-9]+(\.{1}[0-9]*)?$/"
						ng-model="selectedContract.accrual.pikSpread" size="30"><br>
				</section>
			</div>
		</form>

		<div id="editEvents" class="edit">&#x270e;</div>
		<table id="eventTable"
			st-safe-src="uimodel[selectedLoanIndex].contracts[selectedContractIndex].events"
			st-table="displayedEvents" class="table" st-set-filter="customFilter">
			<thead>
				<tr>
					<th id="eventTypeHead" st-ratio="20"><span st-sort="@bean">
							EVENT TYPE</span></th>
					<th id="effectiveDateHead" st-ratio="20"><span
						st-sort="effectiveDate"> EFFECTIVE DATE</span></th>
					<th id="eventAmountHead" st-ratio="20"><span st-sort="amount">
							AMOUNT</span></th>
					<th id="interestOnPayDownHead" st-ratio="20"><span
						st-sort="interestOnPayDown"> PAYDOWN INTEREST</span></th>
					<th id="eventPriceHead" st-ratio="20"><span st-sort="price">
							PRICE</span></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="event in displayedEvents">
					<td st-ratio="20">
						<button type="button" ng-click="removeEvent(event)"
							class="btn btn-sm btn-danger inTableDelete">
							<i class="glyphicon glyphicon-remove-circle"></i>-
						</button> <select ng-model="event['@bean']" class="mySelect tableSelect"
						ng-options="x for x in ContractEventTypes">
					</select>
					</td>
					<td st-ratio="20"><input class="tableInput" type="date"
						ng-model="event.effectiveDate"></td>
					<td st-ratio="20"><input class="tableInput number" type="text"
						ng-pattern="/^[0-9]+(\.{1}[0-9]*)?$/"
						ng-model="event.amount.value"></td>
					<td st-ratio="20"><select class="tableSelect"
						ng-model="event.interestOnPaydown"
						ng-options="(item?'Yes':'No') for item in [true, false]"
						ng-disabled="event.type=='Borrowing'">
							<option value=""></option>
					</select></td>
					<td st-ratio="20"><input class="tableInput number" type="text"
						ng-pattern="/^[0-9]+(\.{1}[0-9]*)?$/" ng-model="event.price"
						ng-disabled="event.type=='Borrowing'"></td>
				</tr>
			</tbody>
		</table>

		<section class="actionButtons">
			<button type="button" ng-mousedown="addEvent()"
				ng-mouseup="scrollEvent()" class="btn btn-sm btn-success">
				<i class="glyphicon glyphicon-plus"></i>+
			</button>
		</section>
		<!--?Do I want to use selectedContract.events instead?-->

	</div>
	<!--ng-show="tabIsSet(2)"-->


	<div ng-show="tabIsSet(3)">

		<table id="tradeTable" st-safe-src="uimodel[selectedLoanIndex].trades"
			st-table="displayedTrades" class="table" st-set-filter="customFilter">
			<thead>
				<tr>
					<th id="tradeIdHead" st-ratio="8"><span st-sort="tradeId">
							TRADE ID</span></th>
					<th id="buySellHead" st-ratio="10"><span st-sort="buySell">
							BUY/SELL</span></th>
					<th id="buyerHead" st-ratio="12"><span st-sort="buyer">
							BUYER</span></th>
					<th id="sellerHead" st-ratio="12"><span st-sort="seller">
							SELLER</span></th>
					<th id="tradeAmountHead" st-ratio="16"><span st-sort="amount">
							AMOUNT</span></th>
					<th id="tradeCurrencyHead" st-ratio="10"><span
						st-sort="currency"> CURRENCY</span></th>
					<th id="tradePriceHead" st-ratio="16"><span st-sort="price">
							PRICE</span></th>
					<th id="expectedSettelementDateHead" st-ratio="16"><span
						st-sort="expectedSettlementDate"> EXPECTED SETTLEMENT DATE</span></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-click="selectTrade(trade)" st-select-row="trade"
					ng-repeat="trade in displayedTrades">
					<td st-ratio="8">{{trade.info.id.value}}</td>
					<td st-ratio="10">{{trade.buySell}}</td>
					<td st-ratio="12">{{trade.buyer.value}}</td>
					<td st-ratio="12">{{trade.seller.value}}</td>
					<td st-ratio="16">{{trade.amount | currency : "" : 2}}</td>
					<td st-ratio="10">{{trade.currency}}</td>
					<td st-ratio="16">{{trade.price | currency : "" : 2}}</td>
					<td st-ratio="16">{{trade.expectedSettlementDate | date :
						"M/d/yy" }}</td>
				</tr>
			</tbody>
		</table>
		<section class="actionButtons">
			<button type="button" ng-mousedown="addTrade()"
				ng-mouseup="scrollTrade()" class="btn btn-sm btn-success">
				<i class="glyphicon glyphicon-plus"></i>+
			</button>
			<button type="button" ng-click="removeTrade(selectedTrade)"
				class="btn btn-sm btn-danger">
				<i class="glyphicon glyphicon-remove-circle"></i>-
			</button>
		</section>

		<form novalidate>
			<div id="tradeDetail" class="alignleft">
				<div class="edit">&#x270e;</div>
				<br>
				<section class="column1">
					<label>Trade ID</label> <input class="formInput" type="text"
						ng-model="selectedTrade.info.id.value" size="30"><br>
					<label>Buy/Sell</label> <select ng-model="selectedTrade.buySell"
						class="mySelect">
						<option value="Buy">Buy</option>
						<option value="Sell">Sell</option>
					</select><br> <label>Buyer</label> <input class="formInput" type="text"
						ng-model="selectedTrade.buyer.value" size="30"><br> <label>Seller</label>
					<input class="formInput" type="text"
						ng-model="selectedTrade.seller.value" size="30"><br>
					<label>Amount</label> <input class="formInput number" type="text"
						ng-pattern="/^[0-9]+(\.{1}[0-9]*)?$/"
						ng-model="selectedTrade.amount" size="30"><br> <label>Currency</label>
					<select ng-model="selectedTrade.currency" class="mySelect">
						<option value="USD">USD</option>
						<option value="AUD">AUD</option>
						<option value="CAD">CAD</option>
						<option value="CHF">CHF</option>
						<option value="EUR">EUR</option>
						<option value="GBP">GBP</option>
						<option value="JPY">JPY</option>
					</select><br> <label>Price</label> <input class="formInput number"
						type="text" ng-pattern="/^[0-9]+(\.{1}[0-9]*)?$/"
						ng-model="selectedTrade.price" size="30"><br>
				</section>
				<section class="column2">

					<label>Association</label> <select
						ng-model="selectedTrade.association" class="mySelect">
						<option value="LSTA">LSTA</option>
						<option value="LMA">LMA</option>
					</select><br> <label>Form Of Purchase</label> <select
						ng-model="selectedTrade.formOfPurchase" class="mySelect">
						<option value="Assignment">Assignment</option>
						<option value="Participation">Participation</option>
					</select><br> <label>Documentation Type</label> <select
						ng-model="selectedTrade.documentationType" class="mySelect">
						<option value="Par">Par</option>
						<option value="Distressed">Distressed</option>
					</select><br> <label>Delayed Comp Waived</label> <select
						ng-model="selectedTrade.delayedCompensationFlag" class="mySelect"
						ng-options="(item?'YES':'NO') for item in [true, false]">
					</select><br> <label>Trade Date</label> <input class="formInput"
						type="date" ng-model="selectedTrade.info.tradeDate"><br>
					<label>Exp Settlement Date</label> <input class="formInput"
						type="date" ng-model="selectedTrade.expectedSettlementDate"><br>
					<label>Act Settlement Date</label> <input class="formInput"
						type="date" ng-model="selectedTrade.info.settlementDate"><br>
				</section>
				<section class="column3">
					<label class="labelLong">Trade Type</label> <select
						ng-model="selectedTrade.tradeType" class="mySelect">
						<option value="Primary">Primary</option>
						<option value="Secondary">Secondary</option>
					</select><br> <label class="labelLong">When Issued</label> <select
						ng-model="selectedTrade.whenIssuedFlag" class="mySelect"
						ng-options="(item?'YES':'NO') for item in [true, false]">
					</select><br> <label class="labelLong">Commitment Reduction</label> <select
						ng-model="selectedTrade.commitmentReductionCreditFlag"
						class="mySelect"
						ng-options="(item?'YES':'NO') for item in [true, false]">
					</select><br> <label class="labelLong">Accrual Settlement Type</label>
					<select ng-model="selectedTrade.accrualSettlementType"
						class="mySelect">
						<option value="SettledWithoutAccrued">Settled Without
							Accrued</option>
						<option value="Settled With Accrued">Settled With Accrued</option>
						<option value="Flat">Flats</option>
					</select><br> <label class="labelLong">Average Libor</label> <input
						class="formInput number" type="text"
						ng-pattern="/^-?[0-9]+(\.{1}[0-9]*)?$/"
						ng-model="selectedTrade.averageLibor" size="30"><br>
					<label class="labelLong">Paydown Trade Date</label> <select
						ng-model="selectedTrade.paydownOnTradeDate" class="mySelect"
						ng-options="(item?'YES':'NO') for item in [true, false]">
					</select><br> <label class="labelLong">Adjustment Trade Date</label> <select
						ng-model="selectedTrade.adjustmentOnTradeDate" class="mySelect"
						ng-options="(item?'YES':'NO') for item in [true, false]">
					</select><br>
				</section>
			</div>
		</form>
		<section class="actionButtons">
			<button type="button" ng-mousedown="addTrade()"
				ng-mouseup="scrollTrade()" class="btn btn-sm btn-success">
				<i class="glyphicon glyphicon-plus"></i>+
			</button>
			<button type="button" ng-mousedown="calculateProceeds()" 
			    ng-mouseup="" class="btn btn-sm btn-success faIcon">
				<i class="fa fa-calculator"></i>
			</button>
		</section>

		<table id="calculateTradeTable"
			st-safe-src="uimodel[selectedLoanIndex].trades"
			st-table="displayedTrades" class="table" st-set-filter="customFilter">
			<thead>
				<tr>
					<th id="costofFundedHead" st-ratio="17"><span st-sort="">
							COST OF FUNDED</span></th>
					<th id="benefitOfUnfundedHead" st-ratio="17"><span st-sort="">
							BENEFIT OF UNFUNDED</span></th>
					<th id="delayedCompensationHead" st-ratio="16"><span
						st-sort=""> DELAYED COMPENSATION</span></th>
					<th id="costOfCarryHead" st-ratio="16"><span st-sort="">
							COST OF CARRY</span></th>
					<th id="economicBenefitHead" st-ratio="17"><span st-sort="">
							ECONOMIC BENEFIT</span></th>
					<th id="totalRemittanceHead" st-ratio="17"><span st-sort="">
							TOTAL REMITTANCE</span></th>
				</tr>
			</thead>
			<tbody>
				<!--if trade proceeds exist, display them-->
				<tr>
					<td st-ratio="17"
						ng-model="selectedTrade.tradeProceeds.costOfFunded.value">{{selectedTrade.tradeProceeds.costOfFunded.value
						| currency : "" : 2}}</td>
					<td st-ratio="17">{{selectedTrade.tradeProceeds.benefitOfUnfunded.value
						| currency : "" : 2}}</td>
					<td st-ratio="16"
						ng-model="selectedTrade.tradeProceeds.delayedCompensation.value">{{selectedTrade.tradeProceeds.delayedCompensation.value
						| currency : "" : 2}}</td>
					<td st-ratio="16">{{selectedTrade.tradeProceeds.costOfCarry.value
						| currency : "" : 2}}</td>
					<td st-ratio="17">{{selectedTrade.tradeProceeds.economicBenefit.value
						| currency : "" : 2}}</td>
					<td st-ratio="17">{{selectedTrade.tradeProceeds.totalRemittance.value
						| currency : "" : 2}}</td>
				</tr>
			</tbody>
		</table>

	</div>
	<!--ng-show="tabIsSet(3)"-->


	<div ng-show="tabIsSet(4)"></div>
	<!--ng-show="tabIsSet(4)"-->

	<div ng-show="tabIsSet(5)">
		<textarea rows=25 ng-model="prettymodel" ng-blur="updateUIModel()">{{prettymodel}}</textarea>
	</div>
	<!--ng-show="tabIsSet(5)"-->

</div>
<!--calculator-->

<script src="includes/calculator.js"></script>
